.DS_Store
/SpectREM/.vs/SpectREM/v16/Preview
/.vs/SpectREMCPP/v16
/.vs
/SpectREM/.vs/SpectREM/v16
/SpectREM/x64/Debug
/SpectREM/x64/Release
/SpectREM/SpectREM.vcxproj.user
xcschememanagement.plist
UserInterfaceState.xcuserstate
/SpectREM/Debug/SpectREM.tlog
/SpectREM/Debug
